asgiref
attrs
autobahn
Automat
cffi
channels
channels-redis
chardet
constantly
cryptography
daphne
Django
django-cors-headers
django-extensions
django-filter
django-seed
djangorestframework
djangorestframework-simplejwt
drf-yasg
Faker
gunicorn
hyperlink
idna
incremental
inflection
Markdown
msgpack
packaging
pillow
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
PyJWT
pyOpenSSL
python-dateutil
python-dotenv
python-http-client
pytz
PyYAML
redis
reportlab
sendgrid
service-identity
six
sqlparse
starkbank-ecdsa
toposort
Twisted
txaio
typing_extensions
tzdata
uritemplate
zope.interface
whitenoise
dj-database-url
beautifulsoup4
requests
pydantic
pydantic-core
